<form method="post" action="{{ path('app_profile_delete', {'id': profile.id}) }}" class="d-grid mb-2 d-md-block"  onsubmit="return confirm('Etes vous sur de vouloir supprimer votre profil?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profile.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
