{% extends 'base.html.twig' %}

{% block title %}Créer son profil
{% endblock %}

{% block body %}
	<div class="row justify-content-around col-11  col-md-6 mb-4 align-items-center mt-4 mx-auto">
		<h1>Créer son profil</h1>

		{{ include('profile/_form.html.twig') }}
	</div>
{% endblock %}
