{% extends 'base.html.twig' %}

{% block title %}Bienvenue!
{% endblock %}

{% block body %}
	<div class="row justify-content-around mb-4 align-items-center mt-4">
		<h1 class="page-h1 mt-4 text-center">Nos conditions d'utilisations</h1>
		<span class="job-desc mt-4 col-11 text-left"><b>Introduction:</b> Les présentes conditions générales d'utilisation régissent l'accès et l'utilisation de la webapplication Formakids, ci-après dénommée l'"Application". En utilisant l'Application, vous acceptez de vous conformer à ces conditions générales d'utilisation.<br>
			<br>
			<b>Utilisation de l'application:</b> L'Application est destinée à être utilisée uniquement pour les besoins du marché de l'emploi du secteur médico-social et des services aux personnes, en mettant en relation les employeurs du secteur et les diplômés de Formaqui pour résoudre le problème de main-d'œuvre qualifiée dans ce domaine. Vous acceptez d'utiliser l'Application conformément aux lois et règlements en vigueur, ainsi qu'aux présentes conditions générales d'utilisation. Vous vous engagez à ne pas utiliser l'Application à des fins illégales, frauduleuses ou préjudiciables à nos intérêts ou à ceux de tiers.<br>
			<br>
			<b>Inscription et compte utilisateur:</b> Pour utiliser l'Application, vous devez vous inscrire et créer un compte utilisateur. Vous êtes responsable de maintenir la confidentialité de vos informations d'identification et de vous assurer que vos informations d'inscription sont à jour et exactes. Vous êtes entièrement responsable de toutes les activités effectuées sous votre compte utilisateur.<br>
			<br>
			<b>Propriété intellectuelle:</b> L'Application et tout son contenu, y compris mais non limité aux textes, images, logos, graphiques, photographies, vidéos, sont la propriété exclusive de Formakids ou de ses partenaires. Toute utilisation non autorisée de l'Application ou de son contenu est strictement interdite.
			<br>
			<b>Limitation de responsabilité:</b> Formakids ne sera en aucun cas responsable des dommages directs, indirects, accessoires, spéciaux, consécutifs ou exemplaires résultant de l'utilisation de l'Application ou de l'incapacité à utiliser l'Application.<br>
			<br>
			<b>Modifications des conditions générales d'utilisation:</b> Formakids se réserve le droit de modifier les présentes conditions générales d'utilisation à tout moment et sans préavis. En continuant à utiliser l'Application après la publication de ces modifications, vous acceptez les conditions générales d'utilisation modifiées.<br>
			<br>
			Loi applicable et juridiction compétente Les présentes conditions générales d'utilisation sont régies et interprétées conformément aux lois en vigueur en France. Tout litige relatif à l'Application ou aux présentes conditions générales d'utilisation sera soumis à la juridiction compétente en France.
		</span>
	</div>

{% endblock %}
