{% extends 'base.html.twig' %}

{% block title %}Edition de votre structure
{% endblock %}

{% block body %}
	<div class="row justify-content-around col-11  col-md-6 mb-4 align-items-center mt-4 mx-auto">
		<h1>Edition de votre structure</h1>

		{{ include('profile/_form.html.twig', {'button_label': 'Modifier'}) }}
		<div class="d-grid mb-2 d-md-block">
			<a class="btn btn-primary" href="{{ path('app_home') }}">Retour</a>
		</div>
	</div>
{% endblock %}
