<form method="post" action="{{ path('app_job_delete', {'id': job.id}) }}" class="d-grid mb-2 d-md-block" onsubmit="return confirm('Etes vous sur de vouloir supprimer votre offre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
    <button class="btn btn-primary" >Supprimer</button>
</form>
