{% extends 'base.html.twig' %}

{% block title %}Editer son annonce
{% endblock %}

{% block body %}
	<div class="row justify-content-around col-11  col-md-6 mb-4 align-items-center mt-4 mx-auto">
		<h1>Editer son annonce</h1>

		{{ include('job/_form.html.twig', {'button_label': 'Modifier'}) }}
		<div class="d-grid mb-2 d-md-block">
			<a class="btn btn-primary" href="{{ path('app_job_index') }}">Retour</a>
		</div>
		{{ include('job/_delete_form.html.twig') }}
	</div>
{% endblock %}
