{% extends 'base.html.twig' %}

{% block title %}Ajouter une offre{% endblock %}

{% block body %}
    <h1>Ajouter une offre</h1>

    {{ include('job/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_job_index') }}">Retour</a>
{% endblock %}
