{% extends 'base.html.twig' %}

{% block title %}Ajouter une offre{% endblock %}

{% block body %}
    <div class="row justify-content-around col-11  col-md-6 mb-4 align-items-center mt-4 mx-auto">
        <h1>Ajouter une offre</h1>

        {{ include('job/_form.html.twig') }}
        <div class="d-grid mb-2 d-md-block">
            <a class="btn btn-primary" href="{{ path('app_job_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}
