

$primary: #08080A;
$btn-padding-y-lg: 25px;
$input-padding-y-lg: 35px;

@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'montserrat';
    src: url(/assets/fonts/montserrat.ttf) format('opentype');
}

body {
    font-family: 'montserrat', sans-serif;
    background-color: #F9F9FA;
    font-size: 21px;
}

.btn-primary a{
    font-size: 16px;
}

.page-h1{
    margin-top: 80px;
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 50px;
}

.input-formaqui{
    border-color: #E6EAEE;
}

.page-h3{
    font-size: 38px;
    font-weight: bold;
}

.page-h3{
    font-size: 32px;
    font-weight: bold;
}

a{
    font-family: 'montserrat', sans-serif;
    color: #F3B357;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
}

.price-aquiform{
    font-weight: bold;
    font-size: 28px;
}

.card-formaqui{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    box-shadow: 0px 29px 23px rgba(20, 18, 103, 0.03), 0px 13px 36px rgba(23, 58, 110, 0.01);
    border-radius: 16px;
}

.desc-business{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 18px;
    color: #828282
}

.badge-aquiform{
    background-color: #EEF0F2;
    border-radius: 4px;
    color: #828282;
}